
.line_teste
{ 
    stroke-width: 2;
    fill: none;
    opacity: 1;    
}

.line_selected
{
  stroke-width: 4;
  opacity: 1;
  cursor: pointer;
}

.line_unselected
{
  opacity: 0.3;
}

.circle_path
{
  cursor: pointer;
}