body {
  font-family:helvetica, clean, sans-serif;
}

/*table {
  caption-side: bottom;
}

table, table th, table td {
  background-color: white;
  border-collapse: collapse;
  border: #AAAAAA 1px solid;
}

table thead th {
  background: grey;
  color: white;
  font-weight: bold;
}

td {
  padding: 2px;
}*/


#loading
{
 width:3%; 
 height: auto; 
 position: fixed; 
 top: 50%; 
 left: 50%; 
 visibility: hidden;  
}
